lithops:
  backend: aws_lambda
  storage: aws_s3
  log_level: INFO

aws:
  region: eu-central-1

aws_lambda:
  execution_role: ${EXECUTION_ROLE_ARN}
  region: eu-central-1
  architecture: x86_64
  namespace: ttc-dev
  max_workers: 300

aws_s3:
  region: eu-central-1
  storage_bucket: ${STATE_BUCKET_EUC1}
